<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title, environment: bridgetown.environment %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    {% render "github_icon", github_url: page.github_url %}



    <div class="lg:flex">
      <nav class="hidden lg:flex rounded-lg lg:w-1/6 mx-8 mt-8 border-solid border border-gray-500">
        {% render "nav_items", gh_docs: site.gh_docs %}
      </nav>

      <main class="mt-16 relative" data-controller="header-link document-link">
        <div class="nav-search fixed right-0 left-0 flex text-center align-center justify-center" style="top: 0.75rem; max-width: 48rem;">
          {% render "nav_search", placeholder: "Search", input_class: "w-3/4 mx-auto z-20 px-4 py-1 border-solid border-2 rounded border-gray-500 focus:border-transparent" %}
        </div>
        {{ content }}
      </main>
    </div>

    {% render "nav_button", gh_docs: site.gh_docs %}

    {% render "footer" %}
  </body>
</html>
