@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  font-family: sans-serif;
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}
