body {
  font-family: sans-serif;
}

h1, footer {
  @apply text-center;
}


/* inline code highlights */

code:not([class~="language-"]) {
  @apply text-purple-600 rounded-md;
  background: rgba(0,0,0,0.04);
  padding: 0.25rem 0.5rem;
}

a,
a > code,
a > * > code {
  @apply text-blue-600;
}

a:hover, a:focus,
a > code:hover, a > code:focus,
a > * > code:hover, a > * > code:focus {
  @apply text-blue-700 underline;
}

/* Code block */
pre {
  @apply p-6 overflow-x-auto my-6;
}

code > span {
  @apply leading-6;
}

.highlight {
  @apply shadow-md rounded-lg;
}

.syntax > code {
  color: azure;
}

main {
  padding: 0.2rem 1rem;
  margin: 0 1rem;
}

img {
  display: inline-block;
  margin: 0.2rem2;
}


h1,h2,h3,h4 {
  font-weight: bold;
}

h1,h2 {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 1rem;
}

h3,h4 {
  margin: 0.5rem 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.45rem;
  margin-top: 2rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.35rem;
}

h4 {
  margin-top: 1.25rem;
  font-size: 1.25rem;
}

p {
  font-size: 1.15rem;
  margin: 1rem 0;
}

ul {
  list-style: disc inside;
}

ul ul {
  list-style: circle inside;
}

ul ul ul {
  list-style: square inside;
}

ul ul ul ul {
  list-style: disc inside;
}

ul > li {
  padding-left: 1rem;
}

@screen sm {
  pre {
    @apply overflow-x-hidden;
  }

  main {
    max-width: 48rem;
  }
}

@screen md {
  main {
    margin: 0 auto;
  }
}
