<ul class="flex flex-col list-none">
  {% for gh_doc in gh_docs %}
    <li class="p-2">
      <a class="capitalize" href="{{ gh_doc.url }}">
        {{ gh_doc.slug }}
      </a>
    </li>
  {% endfor %}
</ul>

