<ul class="flex flex-col list-none">
  {% for gh_doc in gh_docs %}
    <li class="capitalize p-2">
      <a href="{{ gh_doc.url }}">
        {{ gh_doc.slug }}
      </a>
    </li>
  {% endfor %}
</ul>

